<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet"> 
    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GPC Easter Gallery 2023</title>
</head>
<body>
    <div class="gallery-container">
        <a href="/station/1">
            <img src="{{ url_for('static', filename='imgs/stations1.png') }}" alt="" class="gallery-img" id="station-1">
        </a> 
        <p class="gallery-text">Station 1</p>
        <a href="/station/2">
            <img src="{{ url_for('static', filename='imgs/stations2.png') }}" alt="" class="gallery-img" id="station-2">
        </a> 
        <p class="gallery-text">Station 2</p>
        <a href="/station/3">
            <img src="{{ url_for('static', filename='imgs/stations3.png') }}" alt="" class="gallery-img" id="station-3">
        </a> 
        <p class="gallery-text">Station 3</p>
        <a href="/station/4">
            <img src="{{ url_for('static', filename='imgs/stations4.png') }}" alt="" class="gallery-img" id="station-4">
        </a> 
        <p class="gallery-text">Station 4</p>
        <a href="/station/5">
            <img src="{{ url_for('static', filename='imgs/stations5.png') }}" alt="" class="gallery-img" id="station-5">
        </a> 
        <p class="gallery-text">Station 5</p>
        <a href="/station/6">
            <img src="{{ url_for('static', filename='imgs/stations6.png') }}" alt="" class="gallery-img" id="station-6">
        </a> 
        <p class="gallery-text">Station 6</p>
        <a href="/station/7">
            <img src="{{ url_for('static', filename='imgs/stations7.png') }}" alt="" class="gallery-img" id="station-7">
        </a> 
        <p class="gallery-text">Station 7</p>
        <a href="/station/8">
            <img src="{{ url_for('static', filename='imgs/stations8.png') }}" alt="" class="gallery-img" id="station-8">
        </a> 
        <p class="gallery-text">Station 8</p>
        <a href="/station/9">
            <img src="{{ url_for('static', filename='imgs/stations9.png') }}" alt="" class="gallery-img" id="station-9">
        </a> 
        <p class="gallery-text">Station 9</p>
        <a href="/station/10">
            <img src="{{ url_for('static', filename='imgs/stations10.png') }}" alt="" class="gallery-img" id="station-10">
        </a> 
        <p class="gallery-text">Station 10</p>
        <a href="/station/11">
            <img src="{{ url_for('static', filename='imgs/stations11.png') }}" alt="" class="gallery-img" id="station-11">
        </a> 
        <p class="gallery-text">Station 11</p>
        <a href="/station/12">
            <img src="{{ url_for('static', filename='imgs/stations12.png') }}" alt="" class="gallery-img" id="station-12">
        </a> 
        <p class="gallery-text">Station 12</p>
    </div>
</body>
</html>